@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");

body {
  font-family: "VCR OSD Mono", monospace;
  background-color: rgb(224, 224, 224);
  color: rgb(12, 12, 12);
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  height: 90vh;
}

#moreborder {
  border: 1px solid rgb(0, 0, 0);
  height: 90vh;
}

#okaycontent {
  padding: 20px;
}

button {
  color: white;
  border: 1px solid rgb(0, 0, 0);
  font-family: monospace;
  font-size: x-large;
}

button:hover {
  background-color: rgb(0, 0, 0);
}
.shinji-image {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 30vw;
  max-height: 30vh;
  width: auto;
  height: auto;
}

@media (max-width: 600px) {
  .shinji-image {
    max-width: 60vw;
    max-height: 20vh;
  }
}

a {
  text-decoration: none;
}
